/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: linear-gradient(to right,rgba(58,58,58,0.5),white,rgba(58,58,58,0.5));
 
}


/* Main container */

/*  Navbar   */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
 background: rgb(10, 36, 71);
  border-bottom: 1px solid #ddd;
position: fixed;    
}

header .logo {
  display: flex;
  align-items:left;
 
  font-weight: 600;
  font-size: 20px;

   color: rgb(237, 231, 231);
}

header .logo img {
  height: 35px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;

}

nav a {
  text-decoration: none;
   color: rgb(237, 231, 231);
  font-size: 20px;
  font-weight: 600;
}

nav a:hover {
  color: rgb(225, 149, 34);
  cursor: pointer;
}


nav .sigIN a {
  padding: 6px 15px;
 font-size: 20px;
 background-color:  rgb(52, 152, 219);
font-weight: 600;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}
nav .sigIN a:hover{
   background-color: rgb(180, 70, 70);
box-shadow: 2px 2px 5px rgb(180, 70, 70);
cursor: pointer;
font-weight: 600;
color: rgb(10, 36, 71);
}
nav .sigIN  {
 background-color:  rgb(52, 152, 219);
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}
nav .sigIN :hover{
   background-color: rgb(180, 70, 70);
box-shadow: 2px 2px 5px rgb(180, 70, 70);
cursor: pointer;
}







/*   Form   */
.form{
  height:100%;
}

.form-container {
    height: 100%;
   
     margin-bottom: 10px;
        margin-left:30%;
      margin-right: 35%;;
          align-items: center;
          justify-content: center;
          padding: 30px;
            background-color:rgba(255, 255, 255, 0.95);
}
 .signup-box {
margin-top: 70px;
  
   align-items: center;
          justify-content: center;
          width: 100%;
          max-width: 400px;
          height: 100%;
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        }
.form-container h2 {
   text-align: center;
          margin-bottom: 20px;
          color: #2c3e50;
}
.input-gro {
          margin-bottom: 15px;
        }

        .input-gro label {
          display: block;
         
          font-weight: 500;
        }

        .input-gro input {
          width: 100%;
          padding: 10px 12px;
          border: 1px solid #ddd;
          border-radius: 5px;
        }
.input-gro input:focus {
          border-color: #3498db;
          outline: none;
        }
        #gender{
            width: 100%;
        }
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 8px 0 4px;
  font-size: 14px;
}

input, select {
  padding: 10px;
 
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.sub {
  width: 100%;
          padding: 12px;
          background: rgb(52, 152, 219);
          color: white;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
}

.sub:hover {
 background: rgb(41, 128, 185);
}

.sign-text {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.sign-text a {
  color: #0000ee;
  text-decoration: none;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: rgb(10, 36, 71);
  border-top: 1px solid #ddd;
}

footer .footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(237, 231, 231);
}

footer .footer-section ul {
  list-style: none;
}



footer .contact p {
  margin-top: 10px;
  font-size: 16px;
  margin: 5px 0;
   color: rgb(237, 231, 231);
}
.footer-section ul a{
    text-decoration: none;
     color: rgb(237, 231, 231);

}
.footer-section ul a img{
   height: 20px;
  margin-right: 10px;
}

.copyright {
  text-align: left;
  padding: 15px;
  font-size: 13px;
 
 background-color:rgb(0, 26, 57);
  color: rgb(192, 192, 192);
 
}

